.THIS .oneContent{
    background-color:#e4e4e4;
}

.THIS .root{
    background-color:gray;
}

.THIS .innerSection{
    background-color:#ffffff;
    padding:5%;
    margin-left:12px;
    margin-right:12px;
}

.THIS .caroselGrid{
    padding-left:5%
}

.THIS .innercaroselGrid{
    margin-top:4%;
    padding-top:4%;
}

.THIS .slds-custom-p-large{
    padding-left:25%;
}

.THIS .slds-custom-m-large{
    margin-top:5%
}

@media  all and (min-width: 768px) and (max-width:1024px) and (orientation:portrait) { 
    .THIS .slds-custom-p-large{
        padding-left:13%;
    }
}

.THIS .paTable{
    padding-left:13%;
    margin-top:2%;
    margin-right: 15%;
}

.THIS .tablerow:nth-child(odd){
    background-color:#f5f5f0;
    
}

.THIS .tablerow:nth-child(even){
   background-color:#D4D4D4;
}

.THIS .vertical-line{
      width: 0px; /* Use only border style */
      height: 100%;
      float: left; 
      border: 1px inset; /* This is default border style for <hr> tag */
    }

.THIS .slick-prev:before, .THIS .slick-next:before
{
    font-family: 'slick';
    font-size: 50px;
    line-height: 1;
    opacity: .75;
    color: gray;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.THIS .icon {
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    max-height: 1.2rem;
    max-width: 1.2rem;
    position: relative;
    left: -9px;
    fill: #ffffff;
}

.THIS .icon--plus {
    background-color: rgba(102, 102, 102, 1);
}