.THIS #chartContainer {
  position: relative;
    width:200px;
    height:100px;
}
.THIS #chartContainer canvas {
  position: relative;
}

.THIS .chart-lgnd li span{
    display: inline-block;
    width: 20px;
    height: 20px; 
    margin-right: 5px;

}
.THIS .chart-lgnd1 li span{
    display: inline-block;
    width: 20px;
    height: 20px; 
   

}
.THIS .chart-lgndpgm li span{
    display: inline-block;
    width: 20px;
    height: 20px; 
   

}
.THIS .Container{
    
}
.THIS .chart-lgnd {

    color:#ffffff;
    float:left;
    margin-top:14%;
    margin-bottom:4%;
    margin-left:32%;
}
.THIS .chart-lgnd1 {

    color:#000000;
    float:right;
    padding-top:70px;
    padding-right:50px;
    
    
}
.THIS .chart-lgndpgm{
   color:#ffffff;
    float:left;
    margin-bottom:4%;
    margin-left:48%; 
}
.THIS .canvasPos {
    position: absolute;
    top: 30px; 
    right: 40%;
}

.THIS .canvasPosRev {
    position: absolute;
    padding-right:20px;
     
}
.THIS .canvasPosDetail{
    position: absolute;
    right:100px;
    top:-75px;
}