.THIS .even{
    background-color: #C0C0C0;
}

.THIS .odd{
    background-color: #F2F2F2;
}

.THIS .cancelPop{
    width:20%;
}

.THIS .programTable {
    padding-left:20%;
    padding-right:20%;
}
.THIS .lAlign{
    padding-left:10px;
}

.THIS .slds-icon {
    
    border-radius: .25rem;
    fill: #000000;
}
.THIS .btncolor{
    
    color:#ffffff;
    background:#808080;
}
.THIS .BoxBorder{
    border-radius:0px;
    width:28%;
}

.THIS table.slds-table--product > thead > tr:first-child {
    height:12%;
    padding-top:2%;
    padding-bottom:2%;
}
@media all and (min-width: 768px) {
    .THIS .inputSelect {
        width: 100%;
    }
}
@media  all and (min-width: 320px) and (max-width:700px){
    .THIS .sWrap {
        height:389px;
        -webkit-overflow-scrolling : touch;
    }
    
    .THIS .alignNextPageButtonInPaginator{
        width: 94%;
        margin-left: 1px;
        margin-top: 5px;   
    }
}

.THIS .multiSelect{
    height:60px;
}